body{
    max-width: 1000px;
   margin: auto;
}

.menu-top{
    height: 20%;
    float: left;
    min-height: 50px;
    background-color: #FFF;
}
.conteudo-top{
    height: 80%;
    color: #1cacff;
}

.site-header{
    background-color: #FFF;
    border-style: solid;
    border: #000;
}

.menu-btn{
     background-color: #FFF;
     color: #1cacff;
}